<mat-card>
    <h1>Add new Category</h1>
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <form action="" (submit)="formSubmit()">
                        <mat-form-field class="w100" appearance="outline">
                            <mat-label>Title</mat-label>
                            <input required type="text" name="title" [(ngModel)]="category.title" matInput placeholder="Enter Title"/>
                        </mat-form-field>
                        <mat-form-field class="w100" appearance="outline">
                            <mat-label>Description</mat-label>
                            <textarea name="title" matInput placeholder="Enter Description" rows="15" [(ngModel)]="category.description"></textarea>
                        </mat-form-field>
                        <div class="container text-center" style="margin-top: 20px;">
                            <button mat-raised-button color="primary" >ADD</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>