<mat-card>
    <h1>Update Quiz</h1>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <form *ngIf="quiz" (ngSubmit)="updateQuiz()">
                <mat-form-field class="w100" appearance="fill" >
                    <mat-label>Enter Title</mat-label>
                    <input  [(ngModel)]="quiz.title" type="text" name="title" placeholder="Enter Title here" matInput>
                </mat-form-field>
                <mat-form-field class="w100" appearance="fill" >
                    <mat-label>Enter Description</mat-label>
                    <textarea [(ngModel)]="quiz.description" matInput rows="5" name="description"></textarea>
                </mat-form-field>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="w100" appearance="fill" >
                            <mat-label>Enter Maximum Marks</mat-label>
                            <input [(ngModel)]="quiz.maxMarks" type="number" name="maxMarks" placeholder="Enter  here" matInput>
                        </mat-form-field>
                        
                        <mat-form-field class="w100" appearance="fill">
                            <mat-label>Status</mat-label>
                            <mat-select name="active"  [(ngModel)]="quiz.active">
                              <mat-option value="Active" >
                                Active
                              </mat-option>
                              <mat-option value="Inactive"  >
                                Inactive
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                
                    </div>
                        <div class="col-md-6">
                            <mat-form-field class="w100" appearance="fill" >
                                <mat-label>Enter Number of Questions</mat-label>
                                <input [(ngModel)]="quiz.numberOfQuestions" type="number" name="numberOfQuestions" placeholder="Enter  here" matInput>
                            </mat-form-field>
                            <mat-form-field class="w100" appearance="fill">
                                <mat-label>Select Category of Quiz</mat-label>
                                <mat-select name="category" [(ngModel)]="quiz.category.categoryId">
                                  <mat-option *ngFor="let c of categories" [value]="c.categoryId">
                                    {{c.title}}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>

                       
                </div>
  
                <div class="container text-center"  style="margin-top: 20px;">
                    <button mat-raised-button color="primary">Update Quiz</button>
                </div>
            </div>
            </form>
        </div>
    </div>
    
</mat-card>


<!--  -->

