<!-- <div class="bootstrap-wrapper" >
    <div class="container">
        <div class="row" style="width: 100%;">
            <div class="md-col-12"> -->
                <mat-card style="width: 100%;" >
                    <mat-card-title>
                        Read the instructions of this page carefully
                    </mat-card-title>
                    <mat-card-subtitle>
                        
                            One step more to go
                        </mat-card-subtitle>
                        
                        <mat-card-content> 
                            <h1>{{quiz.title}}</h1>
                            <p>{{quiz.description}}</p>
                            <mat-divider> </mat-divider>
                            <ul>
                                <li>
                                This quiz is only for practice purpose</li>
                                <li>You have to submit quiz with in 
                                    <b>{{quiz.numberOfQuestions*2}} minutes</b>
                                </li>
                                <li>There are <b>{{quiz.numberOfQuestions}} questions</b></li>
                                <li>Each question is of {{quiz.maxMarks/quiz.numberOfQuestions}} in this test with no <b>negative </b> marking</li>
                                <li>All questions are of MCQ type</li>
                            </ul>
                        </mat-card-content>
                        <mat-card-actions class="text-center">
                            <button (click)="startQuiz()"  mat-raised-button color="primary" class="">Start Quiz</button>
                        </mat-card-actions>

                    
                </mat-card>
            <!-- </div>
        </div>
    </div>
</div> -->